/* tags */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: gray;
  transition: color 0.5s ease;
}

a:hover {
  color: black;
}

body {
  font-family: 'Open Sans', arial,sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #eee, #fff);
  background-attachment: fixed;
  letter-spacing: 0.03em;
}

i {
  color: #00aaaa;
  font-size: 2em;
}

img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

p {
  font-size: 14px;
  margin: 0;
}

small {
  font-size: 12px;
  color: darkgray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr:hover {
  background-color: #333;
}

table tr.active {
  background-color: #333;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa00;
}

td {
  border-bottom: 1px solid gray;
  padding: 10px;
}

/* ids */
#app {
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

#stories {
  align-items: center;
}

#single-story {
  align-items: center;
}

#single-story p {
  margin: 1% 15%;
}

#single-story #comments {
  width: 50%;
}

#single-author {
  align-items: center;
}

#single-author-detail {
  width: 50%;
  justify-content: space-evenly;
  margin: 2em;
}

#single-author hr {
  width: 50%;
}

#single-author-nav a {
  margin: 10px;
}

/* classes */
.active {
  border-bottom: 1px solid gray;
}

.author {
  align-items: center;
  padding: 15px;
}

.author:hover {
  background-color: #eee;
}

.center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.comment {
  border: 1px solid gray;
  background-color: #fff;
  padding: 1em;
  margin: 1em;
}

.comment h5 {
  color: gray;
}

.container {
  height: 100%;
  width: 100%;
}

.gray {
  color: gray;
}

.story {
  width: 300px;
}

.story h3 {
  color: black;
  margin: 10px;
}

.story p {
  margin-left: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.mr1 {
  margin-right: 1em;
}
