#all-players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-player-card {
  flex-basis: 200px;
  flex-grow: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.single-player-card img, .single-player-view img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10px;
}

.header-info > p {
  margin: 5px;
}

.pup-title {
  font-size: x-large;
}

.pup-number {
  font-style: italic;
}

.single-player-view {
  flex-basis: 500px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.single-player-view > p {
  margin: 10px 0px 0px 0px;
}
