p {
  margin: 0;
  padding: 1em;
  border: 4px solid black
}

.parent {
/* Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width */
  display: block;
  background: magenta;
/* Relative to the font-size of the element (2em means 2 times the size of the current font) */
  padding: 1em;
  border: 4px solid black
}

.child {
  padding: 1em;
  border: 4px solid black
}

.child:nth-child(4) {
  background: gold;
}
